@import "tailwindcss";

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: #fafafa;
  --color-accent: #38bdf8;
}
.scroll-mt-24 {
  scroll-margin-top: 6rem; /* adjust based on navbar height */
}